.resumen {
  background: #f6f8ff 0% 0% no-repeat padding-box;
  width: 100%;
  height: 100%;
  padding: 25px 45px;
  font-family: "Inter";
  .bg-body {
    margin-bottom: 0 !important;
  }
  .resumen-top-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .active-detail {
    border-left: 4px solid #336cfb !important;
  }
  .detail-section {
    padding: 10px;
    .detail-heading {
      margin-bottom: 25px;
      font: normal normal 20px/24px Inter;
      font-weight: bold;
      letter-spacing: -0.2px;
      color: #000000;
    }
    .top-date-wrapper {
      margin-bottom: 17px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      p {
        font: normal normal 15px/19px Inter;
        font-weight: 600;
        letter-spacing: -0.15px;
        color: #000000;
      }
      button {
        background: #f6f8ff 0% 0% no-repeat padding-box !important;
        border-radius: 8px !important;
        border: 0;
        color: #000 !important;
        font: normal normal 13px/16px Inter;
        font-weight: 600 !important;
        padding: 10px 12px !important;
        &:hover,
        &:focus,
        &:active {
          background: #f6f8ff 0% 0% no-repeat padding-box !important;
          border-radius: 8px !important;
          border: 0;
          color: #000 !important;
          font: normal normal 13px/16px Inter;
          font-weight: 600 !important;
          padding: 10px 12px !important;
        }

        .fa-regular {
          margin-right: 6px;
          color: #000 !important;
        }
      }
    }
    p {
      margin-bottom: 0;
      font: normal normal 20px/24px Inter;
      font-weight: bold;
      letter-spacing: -0.2px;
      color: #000000;
    }
    .detail-wrapper {
      margin-top: 20px;
      padding: 0 8px;
      border-left: 4px solid #e2e6e9;
      margin-top: 15px;

      display: flex;
      align-items: center;
      justify-content: space-between;
      .detail-title-box {
        .active-text {
          color: #336cfb !important ;
        }
        .detail-title-main {
          text-align: start;
          margin-bottom: 5px;
          font: normal normal 14px/17px Inter;
          font-weight: 600;
        }
        .detail-title-sub {
          text-align: start;
          margin-bottom: 0;
          font: normal normal normal 14px/17px Inter;
        }
      }
      .detail-btn-wrapper {
        .detail-btn {
          border: 0 !important;
          color: #000 !important;
          font: 13px/26px Inter;
          font-weight: bold !important;
          background: #f6f8ff 0% 0% no-repeat padding-box !important;
          &:hover {
            border: 0 !important;
            color: #000 !important;
            font: 13px/26px Inter;
            font-weight: bold !important;
            background: #f6f8ff 0% 0% no-repeat padding-box !important;
          }
        }
      }
    }
  }

  .main-title-box {
    .resumen-main-title {
      font: normal normal bold 26px/31px Inter;
      margin-bottom: 5px;
      text-align: start;
    }
    .resumen-sub-title {
      font: normal normal normal 12px/15px Inter;
      text-align: start;
      margin-bottom: 0;
    }
  }
  .calendar-box {
    .calendar-btn-top {
      padding: 15px;
      border: 0;
      background: #336cfb !important;
      color: #fff !important;
      &:hover {
        padding: 15px;
        border: 0;
        background: #336cfb !important;
        color: #fff !important;
      }
      .fa-regular {
        margin-right: 8px;
      }
    }
    .calendar-btn {
      padding: 15px;
      border: 0;
      background: #f6f8ff !important;
      color: #000 !important;

      &:hover,
      &:active,
      &:focus {
        padding: 15px;
        border: 0;
        background: #f6f8ff !important;
        color: #000 !important;
      }
      .fa-regular {
        margin-right: 8px;
        color: #000 !important;
      }
    }
  }
  .card {
    text-decoration: none;
    text-align: start;

    border-radius: 8px;
    border: 1px solid #f1f1f2;
    font-family: Inter;
    padding: 20px;
    .header-section {
      display: flex;
      align-items: start !important;
      justify-content: space-between;
      margin-bottom: 10px;
      .calendar-p {
        margin-bottom: 0 !important;
        font: normal normal 15px/19px Inter !important;
        letter-spacing: -0.15px !important;
        font-weight: 600 !important;
        color: #000000;
      }
    }
    .card-body {
      padding: 0 !important;

      .fa-icons {
        font-size: 2rem !important;
        color: #336cfb;
      }
      .main-heading {
        font: normal normal 18px/21px Inter;
        font-weight: 600;
      }
      .sub-heading {
        color: #b5b5c3;
        font: normal normal 15px/19px Inter;
        font-weight: 600;
      }
    }
  }
  .card-wrapper {
    .card-main-title {
      text-align: start;
      font: normal normal 600 18px/21px Inter;
      margin-bottom: 10px;
      margin-top: 20px;
    }
  }
  .calendar-section {
    margin-top: 20px;
    .calendar-card-wrapper2 {
      width: 100%;
      height: 100%;
      box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.03) !important;
      border-radius: 8px;
      border: 1px solid #f1f1f2 !important;
      background: #fff;
    }

    .calendar-card-wrapper {
      width: 100%;
      height: 100%;
      box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.03) !important;
      border-radius: 8px;
      border: 1px solid #f1f1f2 !important;
      background: #fff;
      padding: 20px;
      .main-table-title {
        text-align: start;
        font: 15px/19px Inter;
        font-weight: bold;
      }
    }
    .calendar-card-wrapper-medicamentos {
      width: 100%;
      height: 100%;
      box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.03) !important;
      border-radius: 8px;
      border: 1px solid #f1f1f2;
      background: #fff;

      table {
        width: 100%;
        tr {
          border-bottom: 1px solid #e2e6e9;
          padding: 10px 0;
          th {
            font: normal normal 600 12px/15px Inter;

            color: #8a98a5;
            padding: 10px 20px;
            text-align: start;
            &:last-child {
              text-align: end;
            }
          }
          td {
            padding: 10px 20px;
            padding: 10px 20px;
            text-align: start;
            &:last-child {
              text-align: end;
            }
            .table-btn {
              border-radius: 0.325rem;
              color: #000;
              font: 0.925rem Inter;
              font-weight: 500;
              background: #f6f8ff 0% 0% no-repeat padding-box !important;
              padding: calc(0.75rem + 1px) calc(1.5rem + 1px) !important;
              border: 0;
              &:hover,
              &:active,
              &:focus {
                border-radius: 0.325rem;
                color: #000;
                font: 0.925rem Inter;
                font-weight: 500;
                background: #f6f8ff 0% 0% no-repeat padding-box !important;

                border: 0;
              }
            }
          }
          td:first-child {
            font: normal normal 600 12px/15px Inter;

            color: #8a98a5;
          }
          td:nth-child(2),
          td:nth-child(3) {
            font: normal normal normal 13px/21px Inter;
            font-size: 1.075rem !important;
          }
        }
      }

      .main-table-title {
        text-align: start;
        font: 15px/19px Inter;
        font-weight: bold;
        padding: 20px;
        p {
          margin-bottom: 0;
        }
      }

      .calendar-btn {
        font: 13px/16px Inter;
        font-weight: bold;
        color: #000;
        border: 0;
        background: #f6f8ff 0% 0% no-repeat padding-box;
      }
      .date-main {
        margin-top: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        .active {
          background: #ffe229 !important;
          border-radius: 8px;
        }
        .date-btn {
          display: flex;
          flex-direction: column;
          align-items: center;
          background: transparent;
          color: #000;
          border: 0;
          padding: 12px 18px;
          margin-inline: 4px;
          font: normal normal 12px/18px Inter;
          font-weight: 600;
          .month {
            font: normal normal medium 12px/18px Inter;
            margin-bottom: 5px;
          }
          .date {
            font: normal normal medium 12px/18px Inter;
            margin-bottom: 0;
          }
        }
      }
    }
  }
}
