.canvasjs-chart-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.canvasjs-chart-credit {
  display: none;
}

.chart {
  padding-top: 2rem !important
}

.graph-title {
  text-align: start;
  margin-bottom: 0;
  font: normal normal 15px/19px Inter;
  font-weight: 600;
  letter-spacing: -0.15px;
  color: #000000;

}

.daoughnut {
  .canvasjs-chart-canvas {
    height: 300px;
  }

  .color-point {
    width: 16px;
    height: 6px;

    border-radius: 3px;
    margin-right: 15px;
  }

  .pur {
    background: #9033fb 0% 0% no-repeat padding-box !important;
  }

  .grn {
    background: #3ac47d 0% 0% no-repeat padding-box !important;
  }

  .blu {
    background: #1f87ff 0% 0% no-repeat padding-box !important;
  }

  .ylw {
    background: #f6b824 0% 0% no-repeat padding-box !important;
  }

  .red {
    background: #d92550 0% 0% no-repeat padding-box !important;
  }

  .canvasjs-chart-container {
    height: 300px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;

    .canvasjs-chart-tooltip {
      position: revert !important;
    }
  }

  .row-class {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }

  .daoughnut-title-box {
    display: flex;
    justify-content: space-between;



  }

  .daoughnut-btn-group {
    .anual-btn {
      font: normal normal 13px/16px Inter;
      font-weight: 600;
      letter-spacing: 0px;
      // color: #000000;
      // background: #f6f8ff 0% 0% no-repeat padding-box !important;
      background: transparent !important;
      color: #8a98a5 !important;
      border-radius: 8px;
      margin-right: 10px;
      padding: 10px 15px;
      border: 0;

      &:hover,
      &:focus {
        font: normal normal 13px/16px Inter;
        font-weight: 600;
        letter-spacing: 0px;
        color: #000000;
        background: #f6f8ff 0% 0% no-repeat padding-box !important;
        border-radius: 8px;
        margin-right: 10px;
        padding: 10px 15px;
        border: 0;
      }
    }

    .anual-btn.active {
      background: #f6f8ff 0% 0% no-repeat padding-box !important;
      color: #000000 !important;
    }

    .mensual-btn {
      font: normal normal 13px/16px Inter;
      font-weight: 600;
      background: transparent !important;
      border: 0;
      letter-spacing: 0px;
      color: #8a98a5;

      &:hover,
      &:focus {
        font: normal normal 13px/16px Inter;
        font-weight: 600;
        background: transparent !important;
        border: 0;
        letter-spacing: 0px;
        color: #8a98a5;
      }
    }

    .mensual-btn.active {
      background: #f6f8ff 0% 0% no-repeat padding-box !important;
      color: #000000 !important;
    }
  }

  table {
    tr {
      text-align: start !important;
      border-bottom: 0 !important;

      th {
        &:nth-child(2) {
          text-align: end;
        }
      }

      td {
        .percentage-text {
          font: normal normal 15px/19px Inter;
          font-weight: 600;
          letter-spacing: -0.15px;
          color: #000000;
          margin-bottom: 0;

          &:nth-child(1) {
            text-align: center;
          }

          span {
            margin-left: 10px;
            font: normal normal 15px/19px Inter;
            font-weight: 600;
            letter-spacing: -0.15px;
            color: #8a98a5;
          }
        }



        p {
          font: normal normal medium 15px/19px Inter;
          letter-spacing: -0.15px;
          color: #8a98a5;
          margin-bottom: 0;
        }

      }
    }
  }
}

.daoughnut {
  .col-space {
    padding: 0;
  }
}

.line-chart-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;

  .line-chart-info {

    .line-main-title {
      margin-bottom: 0;
      font: normal normal 20px/24px Inter;
      font-weight: bold;
      letter-spacing: 0px;
      color: #0A0A0A;
    }

    .line-sub-title {
      margin-top: 5px;
      margin-bottom: 0;
      font: normal normal 14px/17px Inter;
      font-weight: normal;
      letter-spacing: 0px;
      color: #707070;
    }
  }
}

.line-chart {
  .apexcharts-active {
    background: transparent !important;
    border: 0 !important;
  }

  .apexcharts-tooltip {
    box-shadow: 0px 0px 50px 0px rgba(82, 63, 105, 0.15) !important;
    background: #fff !important;

    .apexcharts-tooltip-title {
      color: #000;
      background: #fff !important;
      text-align: start;
      border-bottom: 1px solid #a2a6b8;
    }

    .apexcharts-tooltip-marker {
      background-color: rgb(248, 245, 255) !important;
    }
  }
}