.main-tab {
  .nav {
    border: 0;

    .nav-link {
      border: 0;
      background: transparent !important;
      font: normal normal 15px/19px Inter;
      font-weight: 600;
      letter-spacing: -0.15px;
      color: #707070;
    }

    .active {
      font: normal normal 15px/19px Inter !important;
      font-weight: 600 !important;
      letter-spacing: -0.15px;
      color: #000000;
      border-bottom: 2px solid #336cfb !important;
    }
  }
}