.padding {
  padding: 0 !important;
  border-radius: 8px;
}

.pagos {
  background: #f6f8ff 0% 0% no-repeat padding-box;
  width: 100%;
  height: 100%;
  padding: 25px 45px;
  font-family: "Inter";

  .history {
    display: none !important;
  }

  .main-title-box {
    .pagos-main-title {
      font: normal normal bold 26px/31px Inter;
      margin-bottom: 5px;
      text-align: start;
    }

    .pagos-sub-title {
      font: normal normal normal 12px/15px Inter;
      text-align: start;
    }
  }

  .pagos-table-container {
    background: #fff;
    margin-top: 20px;
    border-radius: 8px;

    .card {
      .card-header {
        .card-title {
          margin: 0.5rem 0 0.5rem 0 !important;
        }

        padding: 20px 25px;

        .dropdown {
          .filter-btn {
            padding: 10px !important;
            border: 0;
            background: #f6f8ff 0% 0% no-repeat padding-box;
            border-radius: 8px;
            display: flex;
            align-items: center;
            justify-content: center;

            p {
              margin-bottom: 0;
            }

            &:hover {
              background-color: #eef3f7 !important;
              color: #acacac !important;

              .bi {
                color: #acacac !important;
                font: normal normal normal 18px Inter;
              }

              font: normal normal normal 13px/22px Inter;
              margin-bottom: 0;
            }

            .fa-solid {
              margin-left: 16px;
              color: #acacac;
            }

            .bi {
              font: normal normal normal 18px Inter;
              color: #acacac;
              margin-right: 10px;
            }

            color: #acacac;
            font: normal normal normal 13px/22px Inter;
            margin-bottom: 0;
          }

          .dropdown-toggle {
            &::after {
              display: none;
            }

            border: 0 !important;

            &::after {
              display: none !important;
            }

            &:active,
            &:focus {
              background-color: #eef3f7 !important;
              color: #acacac !important;

              .bi {
                color: #acacac !important;
              }
            }
          }

          .dropdown-menu {
            box-shadow: 0px 3px 12px #00000029;
            border: 0;
            border-radius: 8px;
            width: 300px !important;

            position: absolute !important;
            inset: 0px auto auto 0px !important;
            transform: translate(-218px, 52px) !important;

            .filter-dropdwon {
              display: flex;
              flex-direction: row;
              justify-content: space-between;
              padding: 10px 20px;
            }

            .buttons {
              margin: 20px;
              display: flex;
              justify-content: space-between;
              align-items: center;

              .btn {
                padding: 15px;
              }

              .btn-secondary {
                color: #1d2328;
                background-color: white;
                border: 1px solid #b9bfc2 !important;
                padding: 15px 20px;
              }

              .btn-apply {
                background-color: #336cfb;
                color: #fff;
                padding: 15px 25px;
              }
            }

            .form-label {
              font: normal normal normal 12px/15px Inter;
              letter-spacing: 0px;
              color: #000000;
            }

            .form-select {
              border: 1px solid #e2e6e9;
              border-radius: 5px;
              font: normal normal normal 14px/17px Inter;
              letter-spacing: 0px;
              color: #5e6278;
            }
          }
        }

        .header-left {
          display: flex;
          align-items: center;
        }

        .header-right {
          display: flex;
          align-items: center;

          .export-btn {
            margin-right: 10px;
            background: #f6f8ff !important;
            color: #000 !important;

            .fa-solid {
              color: #000;
            }
          }
        }
      }

      .card-body {
        padding: 0 !important;

        table {
          thead {
            tr {
              th {
                padding-left: 20px !important;
                padding-right: 20px !important;
              }
            }
          }

          tbody {
            tr {
              td {
                font: normal normal 13px/21px Inter;
                font-weight: normal;
                padding-left: 20px !important;
                padding-right: 20px !important;

                .dropdown {
                  .active {
                    background: #f1faff !important;
                    color: #336cfb !important;

                    .fa-solid {
                      color: #336cfb !important;
                    }
                  }

                  .dropdown-toggle {
                    &::after {
                      display: none;
                    }

                    color: #000;
                    font-weight: normal;
                    background: #f6f8ff 0% 0% no-repeat padding-box;
                    border-radius: 8px;

                    .fa-solid {
                      color: #000;
                      margin-left: 10px;
                      font-size: 12px;
                    }

                    &::after {
                      display: none;
                    }

                    &:hover {
                      background: #f1faff !important;
                      color: #336cfb;

                      .fa-solid {
                        color: #336cfb;
                      }
                    }
                  }

                  .dropdown-menu {
                    box-shadow: 0px 3px 12px rgb(0 0 0 / 16%);
                    border: 0;
                    border-radius: 8px;
                    width: 200px;
                    position: absolute !important;
                    inset: 0px auto auto 0px !important;
                    transform: translate(-30px, 40px) !important;

                    a:active {
                      background-color: transparent;
                    }

                    .delete {
                      color: #fc5f6b;
                    }

                    .dropdown-item {
                      padding-left: 0 !important;
                      padding-right: 0 !important;
                    }
                  }
                }

                .rating-label {
                  width: 100px;
                }

                .blue-star {
                  color: #ffad0f !important;
                }

                .grey-star {
                  color: #dfe1e3 !important;
                }

                .fecha {
                  width: 90px;
                }

                .view-btn {
                  width: 108px !important;
                }

                &:nth-child(1) {
                  width: 7%;
                }

                &:nth-child(2) {
                  width: 26%;
                }

                &:nth-child(3) {
                  width: 13%;
                }

                &:nth-child(5),
                &:nth-child(6),
                &:nth-child(4) {
                  width: 10%;
                }

                &:nth-child(7) {
                  width: 5%;
                }

                &:last-child {
                  text-align: end;
                }
              }
            }
          }
        }
      }
    }
  }

  .pagos-table {
    background: #fff;
    padding: 20px;
  }
}